[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
setuptools-scm = "*"
pre-commit = "*"
sphinx = "*"
myst-parser = "*"
sphinx-palewire-theme = "==0.1.2"

[packages]
click = "*"
bs4 = "*"
requests = "*"
pytz = "*"
geojson = "*"

[requires]
python_version = "3.11"
